body{
    margin:0;
}

::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track{
    background: #78909c;
}
::-webkit-scrollbar-thumb{
    background: #4B5563;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover{
    background: #9CA3AF;
}